<!DOCTYPE html>
<html>
<head>
    {% load static from staticfiles %}
    <meta charset="UTF-8">
    <title>衣无忧</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href={% static "app/img/favicon.ico" %}/>
    <link rel="stylesheet" href= {% static "app/css/bootstrap.min.css" %} />
    <link rel="stylesheet" href= {% static "app/font-awesome/css/font-awesome.min.css" %}>
    <link rel="stylesheet" href= {% static "app/css/yishishang.css" %}>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <style>
        .vertical-center{  position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);  }
    </style>
</head>
<body style="background: url(/static/app/img/index.jpg);-moz-background-size: cover;-ms-background-size: cover;-webkit-background-size: cover;background-size: cover;">
    <button class="vertical-center btn btn-success" style="background-color: rgba(202, 78, 50, 0.5);border-color: #bd5e41;"
        onclick="window.location.href='/introduction/'">
        点击进入
    </button>
    <script src= {% static "app/js/jquery-3.1.1.min.js" %}></script>
    <script src= {% static "app/js/bootstrap.min.js" %}></script>
    <script src= {% static "app/js/highcharts.js" %}></script>
    <script src= {% static "app/js/vue.js" %}></script>
    <script>

    </script>
</body>
</html>